html,
body {
  height: 100%;
  padding: 0;
  margin: 0%;
}
body {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 20% 1fr;
}
.addSection {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem 1rem;
}

.addSection .bookInput {
  height: 1.5rem;
  border-radius: 8px;
  border: 1px gray solid;
  margin-bottom: 1rem;
}
.bookInput:focus {
  outline: none !important;
  border: 1px solid cadetblue;
  box-shadow: 0 0 10px #719ece;
}

.card {
  width: 10rem;
  height: 10rem;
  background-color: antiquewhite;
}

.displaySection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 9.5rem));
  gap: 1rem;
  justify-content: center;
}

button {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: none;
  font-weight: bold;
}

.subText {
  color: gray;
  font-size: smaller;
}

.error {
  box-shadow: red 0px 0px 0px 1px inset,
    rgba(252, 19, 19, 0.534) 0px 0px 4px 1px;
  border: 1px red solid;
}
