html,
body {
  height: 100%;
  padding: 0;
  margin: 0%;
  font-family: "Fredoka", sans-serif;
}
body {
  background-color: #2c666e;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.addSection,
.editSection {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  box-shadow: 2px 0px 5px #07393c;
}

.minusClicked {
  grid-template-columns: 1fr;
}

.minusClickedVisibility {
  visibility: collapse;
}

.minusClickedMain {
  grid-row-start: 1;
  grid-row-end: -1;
}

.minusClickedDisplay {
  display: inline;
}

.displayNone {
  display: none;
}

.editClicked {
  grid-template-columns: 1fr 20%;
}

.addClicked {
  grid-template-columns: 20% 1fr;
}

.addTitle,
.editTitle {
  display: grid;
  grid-template-columns: 1fr 15%;
}

.bookInput {
  height: 1.5rem;
  border-radius: 8px;
  border: 1px gray solid;
  margin-bottom: 1rem;
}
.bookInput:focus {
  outline: none !important;
  border: 1px solid cadetblue;
  box-shadow: 0 0 10px #719ece;
}

.card {
  width: 10rem;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 10%;
  box-shadow: #07393c 0px 3px 8px;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > span {
  margin-bottom: 0.5rem;
}

.displaySection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 9.5rem));
  gap: 1rem;
  justify-content: center;
}

button {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: none;
  font-weight: bold;
  font-family: "Fredoka", sans-serif;
}

.subText {
  color: gray;
  font-size: smaller;
}

.error {
  box-shadow: red 0px 0px 0px 1px inset,
    rgba(252, 19, 19, 0.534) 0px 0px 4px 1px;
  border: 1px red solid;
}

.haveRead-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addBtn,
.editBtn {
  background-color: #2c666e;
  color: white;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #07393c;
}

#minusImg:hover,
#haveRead:hover,
#editMinusImg {
  cursor: pointer;
}

.edit,
.delete {
  height: 1.5rem;
  width: 1.5rem;
}

.edit:hover,
.delete:hover {
  cursor: pointer;
}

#dialogoverlay {
  display: none;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#dialogbox {
  display: none;
  position: fixed;
  background: #e7e7e7;
  border-radius: 7px;
  width: 50%;
  z-index: 10;
  border: 0.5rem #07393c solid;
}

#dialogbox > div {
  margin: 8px;
}
#dialogbox > div > #dialogboxhead {
  font-size: 19px;
  padding: 0.5rem;
}
#dialogbox > div > #dialogboxbody {
  padding: 1rem;
}
#dialogbox > div > #dialogboxfoot {
  padding: 0.5rem;
  text-align: right;
}

#dialogbox button {
  background-color: #2c666e;
  color: white;
  margin-right: 0.5rem;
}
